---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../config';
import LastPosts from '@components/Blog/LastPosts.astro';

import "@fontsource/outfit";
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title="Home" description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
			<LastPosts />
		</main>
		<Footer />
	</body>
</html>
