---

import Socials from '../components/Socials.astro'

const today = new Date();

---

<footer>
	<Socials></Socials>
	<p>&copy; {today.getFullYear()} Pablo Fornali Manzanas.</p>
</footer>
<style>
	footer {
		padding: 25px;
		text-align: center;
	}
</style>
