---

import Socials from '../components/Socials.astro'

const today = new Date();

---

<footer class="py-7 text-center">
    <Socials></Socials>
    <p>&copy; {today.getFullYear()} Pablo Fornali Manzanas.</p>
</footer>
