---
import HeaderLink from './HeaderLink.astro'
import { SITE_TITLE } from '../config';
---

<header>
	<h2>
		{SITE_TITLE}
	</h2>
	<h3>Pabs, Pabman, Pabsy... Como sea que que me conozcas, bienvenido a mi blog.</h3>
	<nav>
		<HeaderLink href="/">Inicio</HeaderLink>
		<HeaderLink href="/blog">Blog</HeaderLink>
		<HeaderLink href="/sobre-mi">Sobre mi</HeaderLink>
		<HeaderLink href="/categories">Categorías</HeaderLink>
		<HeaderLink href="https://twitter.com/Pabman_11" target="_blank">Twitter</HeaderLink>
		<HeaderLink href="https://github.com/pabman11" target="_blank">GitHub</HeaderLink>
	</nav>
</header>
<style>
	header {
		@apply mb-4
	}
	header h3{
		@apply text-xs italic mb-4
	}
</style>
