---

export async function getStaticPaths() {

    const tagsConfig = await Astro.glob('../../config.ts')
	const tags = tagsConfig[0].POSIBLE_TAGS

	const allPosts = (await Astro.glob('../blog/*.{md,mdx}')).sort(
	    (a, b) => new Date(b.frontmatter.pubDate).valueOf() - new Date(a.frontmatter.pubDate).valueOf()
    )
    let posts = [];
    return tags.map((tag: { tag: any; }) => {
        posts = [];
		posts = allPosts.filter((post) => post.frontmatter.tags.includes(tag.tag));
		return { params: {slug: tag.tag}, props: {posts, tag}}
    })
}

const { slug } = Astro.params;

const { posts, tag}  = Astro.props

import General from '../../layouts/General.astro';
import LastPostsList from '@components/Blog/LastPostsList.astro'

---
<General SITE_TITLE={tag.title}>
	<h2>{tag.title}</h2>
	<LastPostsList posts={posts} />
</General>