---
import { getCollection } from 'astro:content'
import General from '../../layouts/General.astro'
import LastPostsList from '../../components/Blog/LastPostsList.astro'
export async function getStaticPaths () {
    const allPosts = await getCollection('blog')
    const uniqueTags = [
        ...new Set(allPosts.map((post) => post.data.tags).flat())
    ]

    return uniqueTags.map((tag) => {
        const filteredPosts = allPosts.filter((post) =>
            post.data.tags.includes(tag)
        )
        return {
            params: { tag },
            props: { posts: filteredPosts }
        }
    })
}

const { tag } = Astro.params
const { posts } = Astro.props;
---

<General SITE_TITLE={tag}>
    <style slot="style"></style>
    <h2 class="text-3xl font-bold first-letter:uppercase text-center p-4">{tag}</h2>
    <LastPostsList posts={posts} />
</General>
