---
import { POSIBLE_TAGS } from '../../config';

import General from '../../layouts/General.astro';
---
<General  SITE_TITLE="Categorías del blog">
    <style slot="style">
        ul {
            @apply md:grid md:grid-cols-2
        }
    </style>
    { POSIBLE_TAGS && (
        <ul>
            {POSIBLE_TAGS.map((tag) => (
                <li><a href={`/tag/${tag.tag}`}>{tag.title}</a></li>
            ))}
        </ul>
    )}
</General>