---
export interface Props {
    tags?: Array<any>;
}

const { tags } = Astro.props;
---

{
    tags && (
        <ul class="flex gap-4">
            {tags.map((tag) => (
                <li class="bg-orange-300 rounded-2xl text-sm px-2 py-1">
                    <a href={`/tag/${tag}`}>{tag}</a>
                </li>
            ))}
        </ul>
    )
}
