---
export interface Props {
    SITE_DESCRIPTION?: string;
    SITE_TITLE?: string;
}

import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

const { SITE_DESCRIPTION, SITE_TITLE } = Astro.props;

import {
    SITE_TITLE as DEFAULT_SITE_TITLE,
    SITE_DESCRIPTION as DEFAULT_SITE_DESCRIPTION,
} from "../config";

const title = SITE_TITLE
    ? DEFAULT_SITE_TITLE + " - " + SITE_TITLE
    : DEFAULT_SITE_TITLE;
const description = SITE_DESCRIPTION
    ? SITE_DESCRIPTION
    : DEFAULT_SITE_DESCRIPTION;

import "@fontsource/outfit";
---

<!doctype html>
<html lang="en">
    <head>
        <BaseHead title={title} description={description} />
        <style>
            /*
			The CSS in this style tag is based off of Bear Blog's default CSS.
			https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
			License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
			*/

            body {
                margin: auto;
                text-align: left;
                background-color: #fff;
                word-wrap: break-word;
                overflow-wrap: break-word;
                line-height: 1.5;
                color: #444;
            }
            h1,
            h2,
            h3,
            h4,
            h5,
            h6,
            strong,
            b {
                color: #222;
            }
            a {
                color: #3273dc;
            }
            nav a {
                margin-right: 10px;
            }
            content {
                line-height: 1.6;
            }
            table {
                width: 100%;
            }
            img {
                max-width: 100%;
                height: auto;
            }
            code {
                padding: 2px 5px;
                background-color: #f2f2f2;
            }
            pre {
                padding: 1rem;
            }
            pre > code {
                all: unset;
            }
            blockquote {
                border: 1px solid #999;
                color: #222;
                padding: 2px 0px 2px 20px;
                margin: 0px;
                font-style: italic;
            }
        </style>
        <slot name="style" />
    </head>
    <body>
        <Header title={title} />
        <main transition:animate="slide" class="max-w-[65ch] mx-auto">
            <slot />
        </main>
        <Footer />
    </body>
</html>
